replicaCount: 1

image:
  repository:  ghcr.io/scc-digitalhub/digitalhub-serverless/payload-logger
  tag: "0.1"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 50051

resources: {}

nodeSelector: {}

tolerations: []

affinity: {}